.update_btn0{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 15%;
}
.update_btn1{
    color: #fff;
    background-color: #b02eb7;
    border-color: #a325a4;
    border-radius: 15%;
}
.update_btn2{
    color: #fff;
    background-color: #20b743;
    border-color: #12b73f;
    border-radius: 15%;
}
.update_btn3{
    color: #fff;
    background-color: #8fb71d;
    border-color: #9ea432;
    border-radius: 15%;
}
.update_btn4{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 15%;
}